header {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  margin-bottom: 50px;
}
#main-header { 
  width: 100%;
  height: 400px;                background:url('https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png');
  background-size: cover;
  
}
header h3 {
  position: relative;
  bottom: -240px;
  left: 360px;
  font-size: 30px;
  padding: 0;
}
header h1 {
  position: relative;
  bottom: -200px;
  left: 360px;
  font-size: 55px;
  padding: 0;
}
.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color:  #222;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  font-size: 20px;
  position: relative;
  }
ul {
  list-style-type: square;
}
blockquote::before {
  content: '“';
  font-size: 120px;
  position: absolute;
  top: -30px;
  left: 0;
}

blockquote{
  background: #444444;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  text-align: center;
  text-align: left;
  position: relative;
  padding: 35px;
}
.blackline {
  background: black;
  height: 4px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}